HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# virtual machine crash logs
hs_err_pid*

# Build output directies
/target
*/target
/build
*/build

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata
bin

### IntelliJ IDEA ###
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
.nbattrs

### VS Code ###
.vscode/

# Miscellaneous
*.log
.clover